.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e5e5e5;
}

.header {
  background-color: #1ea4ce;
  height: 50px;
  width: 100%;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.footer {
  height: 20px;
  padding: 20px;
  text-align: center;
}

.app-body {
  background-color: #e5e5e5;
  flex: 1;
  display: flex;
  width: 86%;
  margin: auto;
}

.column {
  background-color: turquoise;
  margin: 10px;
}

.column.side {
  flex: 1;
}

.column.middle {
  flex: 2;
}

@media screen and (max-width: 600px) {
  .column.side,
  .column.middle {
    width: 100%;
  }
}
